/* styles.css */
body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  /* text-align: center; */
  /* padding-top: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("/casino.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw:
}

h1 {
  font-weight: 400
}

#over {
  background: red;
  color: white;
  font-weight: 600;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: green;
  border: none;
  border-radius: 8px;
  padding: 8px;
  text-transform: uppercase;
}


